.bloc-confirmation{
    width: 100%;
    text-align: center;
    margin: 50px 0px 100px 0px;

    .confirmation-commande{
        margin-top: 50px;
        text-align: center;
    }
s
    .lien-retour{
        text-align: center;
        margin-bottom: 300px;
    }
}