#page-panier{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

#bloc-panier{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;

    .titre-panier{
        margin: 30px;
    }

    .tab-panier{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .table-panier{
        margin-top: 2rem;
        margin-bottom: 2rem;   
    }
        
    .titre-produit{
            width: 20%;
        }

        .image-panier{
            width: 100px;
        }

        .prix-article{
            width: 20%;
        }
    }

    .bloc-formulaire{
        align-self: center;
        width: 85%;
        margin: 30px 20px 30px 20px;
    }
}